@model prjTravelPlatformV3.Models.THotel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>THotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FHotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FHotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FHotelEngName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FHotelEngName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FHotelAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FHotelAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FTexId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FTexId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FHotelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
