@model prjTravelPlatformV3.Areas.Employee.ViewModels.Hotel.HotelViewModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@ViewBag.title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div id="divModalContent" class="modal-body">
    <form id="@ViewBag.formId">
        @Html.AntiForgeryToken()

        <input asp-for="HotelId" style="display:none" />

        <div class="mb-3">
            <label asp-for="HotelName" class="form-label">@Html.DisplayNameFor(h=>h.HotelName)</label>
            <input asp-for="HotelName" class="form-control" />
            <span asp-validation-for="HotelName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HotelEngName" class="form-label">@Html.DisplayNameFor(h=>h.HotelEngName)</label>
            <input asp-for="HotelEngName" class="form-control">
            <span asp-validation-for="HotelEngName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="HotelAddress" class="form-label">@Html.DisplayNameFor(h=>h.HotelAddress)</label>
            <input asp-for="HotelAddress" class="form-control">
            <span asp-validation-for="HotelAddress" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">@Html.DisplayNameFor(h=>h.Phone)</label>
            <input asp-for="Phone" class="form-control">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Region" class="form-label">@Html.DisplayNameFor(h=>h.Region)</label>
            <input asp-for="Region" class="form-control">
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TexId" class="form-label">@Html.DisplayNameFor(h=>h.TexId)</label>
            <input asp-for="TexId" class="form-control">
            <span asp-validation-for="TexId" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary" id="btnSave" onclick='sendFetchRequest("@ViewBag.formId")'>儲存</button>
        </div>
    </form>
</div>






@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>


    </script>
}
